html body {
    font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
    color: #2c2c34;
    background: url(https://wallpaperaccess.com/full/42613.jpg) fixed;
}

.link_sup
{
	width: 30px;
	height: 30px;
	z-index: 99999;
	filter: invert(67%) sepia(5%) saturate(96%) hue-rotate(47deg) brightness(92%) contrast(87%);
}

.link_sup:hover
{
	filter: invert(96%) sepia(0%) saturate(90%) hue-rotate(114deg) brightness(105%) contrast(105%);
}
